h1.mainLayout Main Layout

pug-page(rest='/$$dev/api/login')
  if name
    - $user.name = name
    - $user.roles = roles
    a.logout(href="#" onclick="$user.logout()") Logout #{name}

- name="xxx"
.test
  a.test(onclick="name='changed'") Click
  div.name #{name}

slot