pug-page(rest="/$$dev/api/echo")
  :init
    showSlot = false
    count = 0

  h1 Render Test
  .rest-status Result: #{result}

  div: a.toggle-slot(onclick="showSlot=!showSlot") Toggle Slot
  div: a.inc(onclick="count=count+1") Inc

  if showSlot
    render-box(title="Slot Test")
      p.slot-value slot active

  p.counter Count: #{count}
