pug-page(rest="/$$dev/api/echo")
  :init
    showSlot = false
    count = 0

  h1 Render Test
  .rest-status Rest result: #{result}

  p
    div: a.inc(onclick="count=count+1") Inc
    .counter Count: #{count}
  p
    custom-tag
      div This is a custom tag
  p
    a.toggle-slot(onclick="showSlot=!showSlot") Toggle Slot
    if showSlot
      render-box(title="Slot Test")
        p.slot-value Slot active
